@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto&display=swap');

*{
   padding:0px;
   margin:0px;
}

body{
    box-sizing:border-box;
    position:relative;
    background-color:#000000;
}
.fundoimg{
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
}


.cabecalho{
    position:relative;
    display:flex;
    background-color:#53E0DB;
    height:121px;
    justify-content:space-between;
    align-items:center;
    padding:0% 3%;
    z-index:2;
}
.cabecalho__titulo{
    font-size:40px;
    color:#000000;
    text-decoration:none;
    font-family: 'Krona One', sans-serif;
}
.cabecalho__cadastro{
    font-size:32px;
    color:#000000;
    text-decoration:none;
    font-family: 'Krona One', sans-serif;
}


.conteudo{
    display:flex;
    position:relative;
    margin-top:4%;
    z-index:2;
}
    .conteudo__jogo{
        display:flex;
        width:100%;
        justify-content:space-evenly;
    }
    .conteudo__jogo__principal{
        display:flex;
        text-align:center;
        flex-direction:column;
        gap:70px;
    }
    .conteudo__jogo__principal__nome{
        font-size:40px;
        color:#FFFFFF;
        font-family: 'Krona One', sans-serif;
    }
    .conteudo__jogo__info{
        display:flex;
        text-align:center;
        flex-direction:column;
    }
    .conteudo__jogo__info__infos{
        font-size:30px;
        color:#FFFFFF;
        background-color:rgb(18, 18, 18, 0.5);
        width:630px;
        height:320px;
        padding-top:40px;
        border: 8px solid #78FFFA;
        border-radius:40px;
        font-family: 'Roboto', sans-serif;
    }
    .conteudo__jogo__info__preco{
        font-size:34px;
        color:#78FFFA;
        padding-top:30px;
        padding-bottom:20px;
        font-family: 'Krona One', sans-serif;
    }
    .conteudo__jogo__info__botao{
        color: #78FFFA;
        background-color:#000000;
        font-size:40px;
        padding:10px;
        text-decoration:none;
        border: 4px solid #78FFFA;
        border-radius:40px;
        font-family: 'Krona One', sans-serif;
    }
	.conteudo__jogo__info__botao:hover{
		background-color:#181818;
	}
	

    .rodape{
        display:flex;
        position:relative;
        top:60px;
        background-color:#000000;
        height:50px;
        align-items:center;
        justify-content:center;
        z-index:2;
    }
    .rodape__texto{
        font-size:22px;
        color:#FFFFFF;
        font-family: 'Roboto', sans-serif;
    }